.audio-wrapper {
  position: relative;
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}

.audio-wrapper:hover .delete-button {
  display: block;
}

.hide {
  color: transparent;
  content: attr(data-text);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  clip-path: inset(0 0 0 0);
  backdrop-filter: blur(5px);
}

.show {
  color: black;
  text-shadow: none;
}
